:root {
    --primary-color: #02a6cf;
    --accent-color: #30f4ff;
}

.message {
    width: fit-content;
    max-width: 50%;
    /* height: 100px; */
    padding: 0.5rem 1.5rem;
    list-style-type: none;
}

.card {
    min-width: 100px;
}

.their_message .content .name{
    text-align: left;
}


.my_message .content .name{
    text-align: right;
    
}

p {
    margin: 0rem;
    font-size: 16px;
    padding: 0.1rem 1rem; 
    
}

.my_message {
    margin-left: auto;
    margin-right: 0px;
}

.their_message .text_message {
    text-align: left;
    min-width: 125px;
    padding: 0.75rem 1.5rem;
    border-radius: 2.5rem;
    background: rgb(213, 213, 213);
}

.my_message .text_message {
    text-align: left;
    min-width: 125px;
    padding: 0.75rem 1.5rem;
    border-radius: 2.5rem;
    background: -webkit-gradient(linear, left top, right bottom, from(var(--accent-color)), to(var(--primary-color)));
    background: linear-gradient(to bottom right, var(--accent-color), var(--primary-color));
}

.time_sent {
    font-size: 10px;
    padding: 0.25rem 0.75rem;
}

.my_message .time_sent {
    text-align: right;
}
.their_message .time_sent {
    text-align: left;
}